.display-4 {
    font-family: 'Staatliches', sans-serif;
}

.title-font {
    font-family: 'Staatliches', sans-serif;
}

.paragraph-font {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
}


.jumbotron {
    text-align: center; /* Center the text within the Jumbotron */
}

#navbarSupportedContent {
    justify-content: center;
    align-items: center;
  }

/*font style for titles included for h1 and h2*/
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

p {
    text-align: left;
}

#intro-text {
    text-align: left;
}

.black-line {
    border: none;
    border-top: 1px solid black;
}

#cad-text {
    text-align: center;
}